.nav-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #ffffff;
  gap: 50px;
  justify-content: flex-start;
  align-items: center;
  min-width: 200px;
  max-width: 200px;
  border-right-style: solid;
  border-right-width: thin;
  border-right-color: #DAD7CD;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.each-link {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.each-link:hover {
  background-color: #A3B18A;
  border-radius: 10%;
}

img {
  height: 20px;
}

.link-text {
  font-size: 20px;
  text-decoration: none;
  color: black;
}

/* navbar.css */

  /* .dropdown {
    float:left;
  }

  .dropbtn {
    position: absolute;

    box-shadow: none;
    border-radius: 50%;
    background-color: transparent;
    background-size: 3rem;
    height:3rem;
    width: 3rem;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left:0;
  }

  .navbar-link {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .navbar-link:hover {background-color: #f1f1f1;}

  .dropdown:hover .dropdown-content {
    margin-top: 3.5rem;
    margin-left: 1rem;
    display:block;
  }

  .dropdown:hover .dropbtn {
    background-color: #0f0f0f;
  }
  
   */